/*common css*/
.header {
	position: relative;
}
.header .upper {
	min-width: 1200px;
	height: 41px;
	background-color: #f1f1f1;
}
.header .upper .upper_inner {
	position: relative;
	width: 1200px;
	height: 41px;
	margin: 0 auto;
	text-align: center;
}

/*location*/
#location {
	position: absolute;
	top: 0;
	right: 0;
}
#location li {
	display: inline-block;
	position: relative;
}
#location li a {
	display: block;
	color: #aaa;
	font-weight: 400;
	font-size: 14px;
	line-height: 41px;
	padding: 0 10px;
	transition: color 0.5s;
}
#location li a:hover,
#location li a:focus {
	color: #71b42c;
}

#location li a::after {
	content: "";
	display: block;
	position: absolute;
	top: 14px;
	right: -3px;
	width: 1px;
	height: 14px;
	background-color: #aaa;
}
#location li:nth-child(4) a::after,
#location li:last-child a::after {
	display: none;
}
#location li:last-child a {
	background: url(/img/myecc_bg.png) no-repeat center center;
	color: #fff;
	font-size: 0.813em;
	transition: background 0.5s;
}
#location li:last-child a:hover,
#location li:last-child a:focus {
	background: url(/img/myecc_bg1.png) no-repeat center center;
	color: #fff;
}

/*menu*/
.header .menu {
	position: absolute;
	z-index: 11;
	width: 100%;
	min-width: 1200px;
	height: 68px;
	overflow: hidden;
	background-color: #fff;
	background-color: rgba(255,255,255,0.8);
	transition: height 0.5s;
}
.header .menu:hover,
.header .menu.over {
	height: 250px;
	z-index: 11;
}
/* .header .menu::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 68px;
	width: 100%;
	height: 1px;
	background-color: #eaeaea;
} */
.header .menu .menu_inner {
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 68px;
	line-height: 68px;
}
.header .menu .logo {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1000;
	width: 165px;
}


/*gnb*/
#gnb {
	text-align: center;
	margin-left: 60px;
}
#gnb > ul > li {
	display: inline-block;
	position: relative;
}
#gnb > ul > li > a {
	position: relative;
	display: block;
	color: #555;
	font-weight: 600;
	margin: 0 20px;
	padding: 0 25px;
	height: 68px;
	line-height: 68px;
}
#gnb > ul > li > a::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 4px;
	background-color: #ff9e0f;
	transition: width 0.5s;
}
#gnb > ul > li:hover > a::after,
#gnb > ul > li > a.over::after {
	width: 100%;
}
/* #gnb > ul > li > a:hover {
	color: #ff9e0f;
} */
#gnb ul ul {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 250px;
	padding: 20px 0;
}
#gnb ul ul a {
	display: block;
	width: 100%;
	z-index: 1000;
	color: #616161;
	line-height: 28px; /* 2019-09-06 */
	font-size: 15px;
	color: #000;
	text-align: center;
	transition: color 0.3s;
}
#gnb ul ul a:hover,
#gnb ul ul a:focus {
	color: #ff9f0d;
	width: 100%;
}

/*bi*/
.header .menu_inner .bi {
	position: absolute;
	top: 20px;
	right: 0;
	z-index: 1000;
	width: 80px;
}
 .header .menu_inner .bi a {
	display: block;
	width: 80px;
	height: 28px;
}


/*keyvisual*/
.header .keyvisual {
	position: relative;
	top: 68px;
	min-width: 1200px;
	height: 840px;
	overflow: hidden;
}
.header .keyvisual .keyvisual_inner {
	position: absolute;
	left: 0;
	top: 0;
	height: 840px;
	width: 500%;
}
.header .keyvisual .keyvisual_inner li {
	position: relative;
	float: left;
	width: 20%; /*100% 나누기 5(5개의 사진)*/
	height: 840px;
	overflow: hidden;
}
.header .keyvisual .keyvisual_inner li img {
	position: absolute;
	left: 50%;
	margin-left: -960px;
	min-width: 1200px;
	height: 840px;
}
.keyvisual .controlls {
	position: absolute;
	left: 0;
	bottom: 150px;
	width: 100%;
	height: 14px;
	text-align: center;
}
.keyvisual .controlls li {
	display: inline-block;
	margin: 0 6px;
}
.keyvisual .controlls li a {
	display: block;
	width: 14px;
	height: 14px;
	overflow: hidden;
	text-indent: -9999px;
	background-color: rgba(255,255,255,.5);
	border-radius: 7px;
}
.keyvisual .controlls li.active a {
	background-color: #f90;
}
.keyvisual .direction {
	position: relative;
}
.keyvisual .direction .left {
	position: absolute;
	top: 420px;
	left: 40px;
	width: 44px;
	z-index: 2000;
	margin-top: -43px;
}
.keyvisual .direction .right {
	position: absolute;
	top: 420px;
	right: 40px;
	width: 44px;
	z-index: 2000;
	margin-top: -43px;
}

/*skip_navi*/
.skip_navi .skip_wrap a {
	position: absolute;
	left: -9999%;
	top: 0;
	padding: 0;
	width: 100%;
	text-align: center;
	background-color: #000; /*메인 색상*/
	color: #f90;
}
.skip_navi .skip_wrap a:focus {
	left: 0;
}

/*popup*/
.popup {
	position: fixed;
	left: 50%;
	bottom: 0;
	margin-left: -600px;
	width: 1200px;
	transition: transform 0.4s;
	transform: translateY(100%);
	z-index: 1000;
	border: 1px solid #bbb;
}
.popup.active {
	transform: translateY(0);
}
.popup .text {
	position: relative;
	width: 100%;
}
.popup form {
	position: absolute;
	top: 0;
	left: 20px;
}
.popup .text input[type=checkbox] {
	margin-right: 6px;
	vertical-align: middle;
}
.popup .text span {
	display: inline-block;
	line-height: 20px;
	vertical-align: middle;
	font-size: 14px;
}
.popup .top {
	position: absolute;
	top: 0;
	right: 10px;
}
.popup .top a {
	display: block;
	width: 50px;
	padding: 0 5px;
	border-radius: 5px;
	line-height: 20px;
	font-size: 14px;
	text-align: center;
	color:#000;
	transition: background-color 0.3s;
}
.popup .top a:hover {
	background-color: #ffd237;
}
.popup img {
	width: 100%;
}