$url: "";

$max_size : 1920px;
$pc_size : 1279px;
$pc_min_size : 1080px;
$tablet_size : 767px;
$mobile_size : 320px;

$black:#222222;
$white:#ffffff;
$gray:#999999;
$lightgray:#f0f0f0;
$red:#F52222;

$point:#f87910;

$sqrt_2: 1.41421356237;